@import url('https://fonts.googleapis.com/css2?family=Acme&family=Concert+One&family=Edu+SA+Beginner:wght@400&family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --home: 'Acme', sans-serif;
  --home1: 'Concert One', cursive;
  --home2: 'Edu SA Beginner', cursive;
  --nav-dot: #f06345;
}

/* linear-gradient(to right, #fbf6f2, #f7d6dd); */
